<h1>Articles List</h1>
<p><%= link_to 'About Me', about_path  %></p>
<br/>
<%= render 'article' %>
<br />
<p><%= link_to 'Create new Article', new_article_path %></p>
<p><%= link_to 'Back to Home', root_path %></p>
